.eslintrc.js linguist-vendored
.prettierrc.js linguist-vendored
commitlint.config.js linguist-vendored

awscli/dist/* linguist-generated
cloudfront_invalidate/dist/* linguist-generated
iam_access_credentials/dist/* linguist-generated
s3_sync/dist/* linguist-generated

packages/awscli-core/lib/* linguist-generated
